<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Validating User Login">
		<classes>
			<class name="hrapp.HomePage" />
		</classes>
	</test>
	<test name="Validating Dashboard"><classes><class name="hrapp.validateDashboard"></class></classes></test>
<test name="Validate Assign Leave"><classes><class name="hrapp.validateAssignLeave"></class></classes></test>
</suite>
